.shop{
    flex-direction: column;

    &
    .wrapper{
        flex-direction: column;

        & 
        .btn-selector{
            margin-block: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        .card-wrap{
            padding-block: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            & .card{
                background:center/cover;
                width: 100%;
                max-width: 450px;
                height: 400px;
                border: 3px solid var(--secondary-color);
                & 
                .pic{
                    display: none;
                }
                .text-wrap{
                    opacity: 0;
                    background: #000000b7;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 5px;
                    transition: .3s ease;

                    &
                    h1, .price, button{
                        opacity: 0;
                    } 
                    h1{
                        font-size: var(--md-font);
                        transition-delay: 0;
                    }
                    .price{
                        color: var(--highlight-color);
                        transition-delay: .1s;
                    }
                    button{
                        transition-delay: .2s;
                    }
                }
                .text-wrap > *{
                    transform: translateY(60px);
                    transition: .3s ease;
                }
            }
            .card:hover .text-wrap{
                opacity: 1;
            }
            .card:hover .text-wrap > *{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}